.container {
    display: block;
    align-items: center;
}

.text {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 500;
    color: teal;
    font-size: 18px;
}